* {
    margin: 0;
  }
  
  body {
    color: white;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .wrapper > * {
    padding: 20px;
  }
  
  .page-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #331E4D;
  }
  
.grid-row {
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    background-color: #2196F3;
    border: solid; 
    border-color: black;
    padding: 5px;
}

.grid-column {
    flex-grow: inherit;
    flex: 1;
    background-color: green;
    border: inherit; 
    border-color: inherit;
    
}

.webName {
    width: 50%;
    height: 50%;
    margin: 5%;
    text-align: center;
    background-color: blueviolet;
}


